.columns {
  .column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;

    .add-task {
      cursor: pointer;
      transition: .3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .column {
    width: 300px;
    padding: 20px;
    border-radius: 20px;

    .tasks {
      display: flex;
      flex-direction: column;
      min-height: 500px;
    }
  }
}
